#pin_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			
			.panel-body
				%h1= @pin.title
				%p.address= link_to @pin.address, @pin.address, :target => "_blank"
				%p.description= @pin.description
				%span.p Tags:
				%small.tag_list= raw @pin.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
				%p 
				
			.panel-footer
				.row
					.col-md-6
						%p.user
						= social_share_button_tag("Check this out:", :url => @pin.address)
					.col-md-6
						
						.btn-group.pull-right

							= link_to "Edit", edit_pin_path, class: "btn btn-default"
							= link_to "Delete", pin_path, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" }



